{% extends 'base_full_noheader.html' %}
{% load stock_tags %}
{% block title %}盈亏透视分析表{% endblock %}
{% block content %}
    <br/>
    <h1>
        <div class="alert alert-success" style="text-align:center">
            盈亏透视分析表
        </div>
    </h1>
    <hr/>

<script type="text/javascript">
    $(function () {
        formValidator();
        loadAnalyzeReportDiv();
    });

    function resetFormValidator(){
        $('#searchAnalyzeForm').data('bootstrapValidator').destroy();
        formValidator();
    }


    function loadAnalyzeReportDiv(data) {
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var stockid = $('#stockid').val();
        var sort = $('#sort').val();

        if(data){
            data = data +'&startDate='+startDate+'&endDate='+endDate+'&stockid='+stockid+'&sort='+sort;
        }else{
            data = 'startDate='+startDate+'&endDate='+endDate+'&stockid='+stockid+'&sort='+sort;
        }
        $('#analyzeReportDiv').load("{% url 'customer:queryAnalyzeReport' %}", data);
    }

    function formValidator(){
        $('#searchAnalyzeForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadAnalyzeReportDiv(form.serialize());
                resetFormValidator();
            }
        });
    }

{##}
    function sortAnalyzeReport(obj) {
{#        $('#eid').val($(obj).data("id"));#}
{#        a = $(obj).data("sort");#}
{#        alert(a);#}
        $('#sort').val($(obj).data("sort"));

        searchData = $('#searchAnalyzeForm').serialize();
        data = searchData;
        $('#analyzeReportDiv').load("{% url 'customer:sortAnalyzeReport' %}",data)
{#        alert('ok');#}
    }

</script>

<form id="searchAnalyzeForm" method="POST" class="form-horizontal ">
    <div class="form-group">
        <label class="col-md-1 control-label">产品代码</label>
        <div class="col-md-2 ">
             <input type="text"  class="form-control" value="{{ stockid }}" name="stockid" id="stockid"
             title="起始时间"/>
        </div>
        <label class="col-md-1 control-label">时间范围</label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" value="{{ startDate }}" name="startDate" id="startDate"
             title="起始时间"/>
        </div>
        <label class="col-md-1 control-label"></label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" value="{{ endDate }}" name="endDate" id="endDate"
             title="结束时间"/>
        </div>
        <label class="col-md-1 control-label"></label>
        <div class="col-md-2">
            <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
        </div>

        <input type="hidden" id="sort" name="sort">
    </div>
</form>

    <div id="analyzeReportDiv"></div>

{% endblock %}