{% extends 'base_full_noheader.html' %}

{% block title %}客户交易管理{% endblock %}
{% block content %}
    <div class="modal fade" id="handleCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">客户交易管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="handleCustomerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="id" name="id"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="status">状态变更</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="status" name="status">
                                    <option value="20">已加微信或者QQ</option>
                                    <option value="10">退回</option>
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#status').on('change', function(){
                                if($(this).val() == '20'){
                                    $('#messageDiv').hide();
                                }else {
                                    $('#messageDiv').show();
                                }
                                $('#handleCustomerForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <div id="messageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="message">退回原因</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="message" name="message">
                                        <option value="不发交割单">不发交割单</option>
                                        <option value="给票不买">给票不买</option>
                                        <option value="不回消息">不回消息</option>
                                        <option value="合作资金不足">合作资金不足</option>
                                        <option value="买错票">买错票</option>
                                        <option value="客户信息有误">客户信息有误</option>
                                        <option value="合作方式不同意">合作方式不同意</option>
                                        <option value="虚假客户">虚假客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="handleCustomerBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="handleValidCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">客户交易管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="handleValidCustomerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="validCustomerId" name="validCustomerId"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="validCustomerChange">状态变更</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="validCustomerChange" name="validCustomerChange">
                                    <option></option>
{#                                    <option value="100000">标记10W+客户</option>#}
{#                                    <option value="99">删除客户</option>#}
                                    <option value="98">标记不诚信客户</option>
{#                                    <option value="30">退回</option>#}
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#validCustomerChange').on('change', function(){
                                if($(this).val() == '98'){
                                    alert("请耐心与客户反复沟通，谨慎操作");
                                    $('#dishonestMessageDiv').show();
                                    $('#redoMessageDiv').hide();
                                    $('#delMessageDiv').hide();
                                }else if($(this).val() == '30'){
                                    $('#dishonestMessageDiv').hide();
                                    $('#redoMessageDiv').show();
                                    $('#delMessageDiv').hide();
                                }else if($(this).val() == '99'){
                                    $('#dishonestMessageDiv').hide();
                                    $('#redoMessageDiv').hide();
                                    $('#delMessageDiv').show();
                                }else{
                                    $('#dishonestMessageDiv').hide();
                                    $('#redoMessageDiv').hide();
                                    $('#delMessageDiv').hide();
                                }
                                $('#handleValidCustomerForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <div id="dishonestMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="dishonestMessage">原因</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="dishonestMessage" name="dishonestMessage">
                                        <option value="私自出货">私自出货</option>
                                        <option value="删除老师">删除老师</option>
                                        <option value="持票时间过长">持票时间过长</option>
                                        <option value="不回款">不回款</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="redoMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="redoMessage">退回理由</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="redoMessage" name="redoMessage">
                                        <option value="不发交割单">不发交割单</option>
                                        <option value="给票不买">给票不买</option>
                                        <option value="不回消息">不回消息</option>
                                        <option value="合作资金不足">合作资金不足</option>
                                        <option value="买错票">买错票</option>
                                        <option value="客户信息有误">客户信息有误</option>
                                        <option value="合作方式不同意">合作方式不同意</option>
                                        <option value="虚假客户">虚假客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="delMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="delMessage">删除理由</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="delMessage" name="delMessage">
                                        <option value="亏损客户不再合作">亏损客户不再合作</option>
                                        <option value="亏损客户不再合作">亏损客户不再合作</option>
                                        <option value="客户不回复消息">客户不回复消息</option>
                                        <option value="不诚信客户">不诚信客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="handleValidCustomerBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="handleNewCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">客户交易管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="handleNewCustomerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="newCustomerId" name="validCustomerId"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="newCustomerChange">状态变更</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="newCustomerChange" name="validCustomerChange">
                                    <option value=""></option>
{#                                    <option value="100000">标记10W+客户</option>#}
{#                                    <option value="99">删除客户</option>#}
                                    <option value="98">标记不诚信客户</option>
                                    <option value="30">退回</option>
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#newCustomerChange').on('change', function(){
                                if($(this).val() == '98'){
                                    alert("请耐心与客户反复沟通，谨慎操作");
                                    $('#newDishonestMessageDiv').show();
                                    $('#newRedoMessageDiv').hide();
                                    $('#newDelMessageDiv').hide();
                                }else if($(this).val() == '30'){
                                    $('#newDishonestMessageDiv').hide();
                                    $('#newRedoMessageDiv').show();
                                    $('#newDelMessageDiv').hide();
                                }else if($(this).val() == '99'){
                                    $('#newDishonestMessageDiv').hide();
                                    $('#newRedoMessageDiv').hide();
                                    $('#newDelMessageDiv').show();
                                }else{
                                    $('#newDishonestMessageDiv').hide();
                                    $('#newRedoMessageDiv').hide();
                                    $('#newDelMessageDiv').hide();
                                }
                                $('#handleNewCustomerForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <div id="newDishonestMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="newDishonestMessage">原因</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="newDishonestMessage" name="dishonestMessage">
                                        <option value="私自出货">私自出货</option>
                                        <option value="删除老师">删除老师</option>
                                        <option value="多次未回信息">多次未回信息</option>
                                        <option value="不回款">不回款</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="newRedoMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="newRedoMessage">退回理由</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="newRedoMessage" name="redoMessage">
                                        <option value="不发交割单">不发交割单</option>
                                        <option value="给票不买">给票不买</option>
                                        <option value="不回消息">不回消息</option>
                                        <option value="合作资金不足">合作资金不足</option>
                                        <option value="买错票">买错票</option>
                                        <option value="客户信息有误">客户信息有误</option>
                                        <option value="合作方式不同意">合作方式不同意</option>
                                        <option value="虚假客户">虚假客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="newDelMessageDiv" style="display:none">
                             <div class="form-group">
                                <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="newDelMessage">退回理由</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="newDelMessage" name="delMessage">
                                        <option value="亏损客户不再合作">亏损客户不再合作</option>
                                        <option value="客户不回复消息">客户不回复消息</option>
                                        <option value="不诚信客户">不诚信客户</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="handleNewCustomerBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="handleSpotCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">现货输送确认通知</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="handleSpotCustomerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="spotCustomerId" name="spotCustomerId"/>

                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="spotCash">首次入金</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="spotCash" name="spotCash" value="50000"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="spotTeacher">现货老师</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="spotTeacher" name="spotTeacher">
                                    {% for spotTeacher in spotTeachers %}
                                    <option value="{{ spotTeacher.id }}">{{ spotTeacher.teacherId }} {{ spotTeacher.binduser.userprofile.nick }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="spotMessage">备注</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="spotMessage" name="spotMessage"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="handleSpotCustomerBtn" type="submit" class="btn btn-sm btn-primary">确认</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addTeacherCustomerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">客户管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addTeacherCustomerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="saletool" >来源</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="saletool" name="saletool">
                                    <option value="wx">微信</option>
                                    <option value="qq">qq</option>
                                </select>
                            </div>
                        </div>
                        <div id="qqDiv" style="display:none">
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="qqid" >QQ号</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="qqid" name="qqid"/>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="qqname" >昵称</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="qqname" name="qqname"/>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="salesqq" >工具</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="salesqq" name="salesqq">
                                        <option>admincreate</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="wxDiv">
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="wxid" >微信号</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="wxid" name="wxid"/>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="wxname" >昵称</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="wxname" name="wxname"/>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-md-offset-2 col-md-2 control-label" for="saleswx" >工具</label>
                                <div class="col-md-5">
                                    <select type="select" class="form-control" id="saleswx" name="saleswx">
                                        <option>admincreate</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#saletool').on('change', function(){

                                if($(this).val() == 'qq'){
                                    $('#qqDiv').show();
                                    $('#wxDiv').hide();

                                }else {
                                    $('#qqDiv').hide();
                                    $('#wxDiv').show();
                                }
                                $('#addTeacherCustomerForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <hr/>
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="id" name="id"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="name">姓名</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="name" name="name"
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="phone" >电话</label>
                            <div class="col-md-5">
                                    <input type="text" class="form-control" id="phone" name="phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="startup" >资金</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="startup" name="startup"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="gem" >GEM</label>
                            <div class="checkbox col-md-5">
                                <label>
                                    <input type="checkbox" name="gem" value="gem" />
                                </label>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-md-offset-2 col-md-2 control-label" for="teacher" >对接老师</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="teacher" name="teacher">
                                    {% if request.user.userprofile.title.role_name == 'teacher' %}
                                        <option value="{{ teacher.id }}">{{ teacher.teacherId }} {{ teacher.binduser.userprofile.nick }}</option>
                                    {% else %}
                                        {% for teacherObj in teachers %}
                                            <option value="{{ teacherObj.id }}">{{ teacherObj.teacherId }} {{ teacherObj.binduser.userprofile.nick }}</option>
                                        {% endfor %}
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addTeacherCustomerBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        formValidator();
        loadCustomerHandleDiv();
        $('#handleCustomerModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#handleSpotCustomerModal').on('hidden.bs.modal', function() {
            loadCustomerHandleDiv();
        });
        $('#addTeacherCustomerModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function resetFormValidator(){
        var customerFormSelector = $('#handleCustomerForm');
        $('#delMessageDiv').hide();
        customerFormSelector.find(':input').val("");
        customerFormSelector.data('bootstrapValidator').destroy();

        var validCustomerFormSelector = $('#handleValidCustomerForm');
        $('#delMessageDiv').hide();
        $('#messageDiv').hide();
        $('#dishonestMessageDiv').hide();
        $('#redoMessageDiv').hide();
        validCustomerFormSelector.find(':input').val("");
        validCustomerFormSelector.data('bootstrapValidator').destroy();

        var newCustomerFormSelector = $('#handleNewCustomerForm');
        $('#newDelMessageDiv').hide();
        $('#newMessageDiv').hide();
        $('#newDishonestMessageDiv').hide();
        $('#newRedoMessageDiv').hide();
        newCustomerFormSelector.find(':input').val("");
        newCustomerFormSelector.data('bootstrapValidator').destroy();

        var addTeacherCustomerFormSelector = $('#addTeacherCustomerForm');
        addTeacherCustomerFormSelector.find('input').val("");
        addTeacherCustomerFormSelector.data('bootstrapValidator').destroy();

        $('#searchCustomerHandleForm').data('bootstrapValidator').destroy();
        formValidator();
    }
    function loadCustomerHandleDiv(data){
        var searchData = $('#searchCustomerHandleForm').serialize();
        var page =  "page="+$('#page').val();
        if(data && data.indexOf('page') >= 0){
            var arr = new Array(2);
            arr[0] = searchData;
            arr[1] = data;
            data = arr.join("&");
        }else{
            var arr = new Array(2);
            arr[0] = searchData;
            arr[1] = page;
            data = arr.join("&");
        }
        $('#customerHandleDiv').load("{% url 'customer:queryCustomerHandle' %}", data);
    }
    function formValidator(){
        $('#handleCustomerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                status: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    },
                },
                message: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#handleCustomerModal').modal('hide');
                $.post(
                    "{% url 'customer:handleCustomer' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadCustomerHandleDiv();
                    },
                    'json'
                );
            }
        });
        $('#handleValidCustomerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                validCustomerChange: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                dishonestMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                redoMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                delMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#handleValidCustomerModal').modal('hide');
                $.post(
                    "{% url 'customer:handleValidCustomer' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadCustomerHandleDiv();
                    },
                    'json'
                );
            }
        });
        $('#handleNewCustomerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                validCustomerChange: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                dishonestMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                redoMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                delMessage: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#handleNewCustomerModal').modal('hide');
                $.post(
                    "{% url 'customer:handleValidCustomer' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadCustomerHandleDiv();
                    },
                    'json'
                );
            }
        });
        $('#handleSpotCustomerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                spotCash: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        greaterThan: {
                            value: 50000,
                            inclusive: true,
                            message: '必须&ge;50000'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#handleSpotCustomerModal').modal('hide');
                $.post(
                    "{% url 'customer:handleSpotCustomer' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadCustomerHandleDiv();
                    },
                    'json'
                );
            }
        });
        $('#searchCustomerHandleForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadCustomerHandleDiv(form.serialize());
                resetFormValidator()
            }
        });
        $('#addTeacherCustomerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        regexp: {
                            regexp: /^[0-9]{11}$/i,
                            message: '请输入正确的手机号码'
                        },
                        remote: {
                            message: '该客户已存在',
                            url: '{% url "customer:checkCustomerPhone" %}',
                        }
                    }
                },
                startup: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        greaterThan: {
                            value: 20000,
                            inclusive: true,
                            message: '&ge;20000'
                        }
                    }
                },
                wxid: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                wxname: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                qqid: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                qqname: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#addTeacherCustomerModal').modal('hide');
                $.post(
                    "{% url 'customer:addTeacherCustomer' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadCustomerHandleDiv();
                    },
                    'json'
                );
                loadCustomerHandleDiv(form.serialize());
                resetFormValidator()
            }
        });
    }
    function handleCustomer(obj){
        $('#id').val($(obj).data("id"));
        $('#handleCustomerModal').modal("show");
    }
    function tradeManage(obj){
        var customerId = $(obj).data("id");
        var width = $(window).width();
        var height = $(window).height()-100;
        window.open('/trade/tradeManage?customerId=' + customerId, '_blank', 'top=100px, left=0, height='+height+', width='+width);
    }
    function handleValidCustomer(obj){
        $('#validCustomerId').val($(obj).data("id"));
        $('#handleValidCustomerModal').modal("show");
    }
    function handleNewCustomer(obj){
        $('#newCustomerId').val($(obj).data("id"));
        $('#handleNewCustomerModal').modal("show");
    }
    </script>
    <br/>
    <br/>

    <form id="searchCustomerHandleForm" method="POST" class="form-horizontal ">
        <div class="form-group" >
{#            {% if request.user.userprofile.title.role_name in "admin ops" %}#}
{#            <label class="col-md-1 control-label">开发公司</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ company }}" name="company"/>#}
{#            </div>#}
{#            {% endif %}#}
{#            {% if request.user.userprofile.title.role_name in "admin ops" %}#}
{#            <label class="col-md-1 control-label">开发部门</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ department }}" name="department"/>#}
{#            </div>#}
{#            {% endif %}#}
{#            <label class="col-md-1 control-label">开发ID</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ saleid }}" name="saleid"/>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}

            <label class="col-md-1 control-label">客户电话</label>
            <div class="col-md-1 ">
                 <input type="text" class="form-control" value="{{ phone }}" name="phone"/>
            </div>
            <label class="col-md-1 control-label">沟通方式</label>
            <div class="col-md-1 ">
                 <input type="text" class="form-control" value="{{ wxqq }}" name="wxqq"/>
            </div>
            <label class="col-md-1 control-label">产品名称</label>
            <div class="col-md-1 ">
                 <input type="text" class="form-control" value="{{ stockname }}" name="stockname"/>
            </div>
            <label class="col-md-1 control-label" >10W+</label>
            <div class="col-md-1 ">
                 <select type="select" class="form-control" id="crude" name="crude" style="width: auto">
                     <option value="0">否</option>
                     <option value="1">是</option>
                 </select>
            </div>
            <label class="col-md-1 control-label">客户管理专员</label>
            <div class="col-md-1 ">
                 <input type="text" class="form-control" value="{{ teacherid }}" name="teacherid"/>
            </div>
{#            <label class="col-md-1 control-label" >客户状态</label>#}
{#            <div class="col-md-1 ">#}
{#                 <select type="select" class="form-control" id="status" name="status">#}
{#                     <option></option>#}
{#                     <option value="0">新录入客户</option>#}
{#                     <option value="10">待跟进</option>#}
{#                     <option value="20">老师已加微信或QQ</option>#}
{#                     <option value="30">退回</option>#}
{#                     <option value="40">有效客户</option>#}
{#                     <option value="39">待跟进客户</option>#}
{#                     <option value="99">标记删除</option>#}
{#                 </select>#}
{#            </div>#}

        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="customerstatus">跟进状态</label>
            <div class="col-md-1 ">
                 <select type="select" class="form-control" id="customerstatus" name="customerstatus">
                     <option value="">显示全部</option>
                     <option value="40">已合作</option>
                     <option value="10">待跟进</option>
                 </select>
            </div>
{#            <label class="col-md-1 control-label">来源微信</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ saleswx }}" name="saleswx"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">微信号</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ wxid }}" name="wxid"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">微信昵称</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ wxname }}" name="wxname"/>#}
{#            </div>#}
            <label class="col-md-1 control-label">合作时间</label>
            <div class="col-md-2 " style="width: 180px">
                 <input type="date"  class="form-control datetime" value="{{ startDate }}" name="startDate" id="startDate"
                 title="起始时间"/>
            </div>
            <label class="col-md-1 control-label" style="width: 50px"></label>
            <div class="col-md-2 " style="width: 180px">
                 <input type="date"  class="form-control datetime" value="{{ endDate }}" name="endDate" id="endDate"
                 title="结束时间"/>
            </div>
{#            <div class="form-group">#}
            <label class="col-md-1 control-label" style="color: red"> 老客户: <span id="oldcustomerid">    </span>  位</label>
            <label class="col-md-1 control-label" style="color: red"> 新客户:  <span id="newcoustomerid">  </span>  位</label>
            <label class="col-md-1 control-label"></label>
            <div class="col-md-1">
                    <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
            </div>
            <div class="col-md-1">
                    {% if request.user.userprofile.title.role_name in 'teacher ops admin teachermanager teacherboss' %}
                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addTeacherCustomerModal">新增客户</button>
                    {% endif %}
            </div>
        </div>
        </div>
{#        <div class="form-group">#}
{#            <label class="col-md-1 control-label">来源QQ</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ salesqq }}" name="salesqq"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">QQ号</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ qqid }}" name="qqid"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">QQ昵称</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ qqname }}" name="qqname"/>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="col-md-1 control-label" >客户状态</label>#}
{#            <div class="col-md-1 ">#}
{#                 <select type="select" class="form-control" id="status" name="status">#}
{#                     <option></option>#}
{#                     <option value="0">新录入客户</option>#}
{#                     <option value="10">待跟进</option>#}
{#                     <option value="20">老师已加微信或QQ</option>#}
{#                     <option value="30">退回</option>#}
{#                     <option value="40">有效客户</option>#}
{#                     <option value="99">标记删除</option>#}
{#                 </select>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">消息</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ message }}" name="message"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">初始资金</label>#}
{#            <div class="col-md-1">#}
{#                 <input type="text" class="form-control" value="{{ minstartup }}" name="minstartup" placeholder="最小值"/>#}
{#            </div>#}
{#            <div class="col-md-1">#}
{#                 <input type="text" class="form-control" value="{{ maxstartup }}" name="maxstartup" placeholder="最大值"/>#}
{##}
{#            </div>#}
{#            <label class="col-md-1 control-label" style="width:50px">gem</label>#}
{#            <div class="col-md-1 ">#}
{#                 <select type="select" class="form-control" id="gem" name="gem">#}
{#                     <option></option>#}
{#                     <option value="1">是</option>#}
{#                     <option value="0">否</option>#}
{#                 </select>#}
{#            </div>#}
{#        </div>#}
        <hr/>
{#        <div class="form-group">#}
{#            <label class="col-md-1 control-label">产品ID</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ stockid }}" name="stockid"/>#}
{#            </div>#}
{#            <label class="col-md-1 control-label">产品名称</label>#}
{#            <div class="col-md-1 ">#}
{#                 <input type="text" class="form-control" value="{{ stockname }}" name="stockname"/>#}
{#            </div>#}
{#        </div>#}

    </form>

    <div id="customerHandleDiv"></div>


<script type="text/javascript">
    function getCustomerNumber(para1,para2) {
        $('#newcoustomerid').html(para1);
        $('#oldcustomerid').html(para2);
    }
</script>
{% endblock %}
