{% load customer_tags %}
<table class="table table-bordered col-md-12 table-hover" style="padding: 0px; margin: 0px">
    <thead class="bg-info" style="padding: 0">
        <tr>
{#            <td>ID</td>#}
            <td>序号</td>
            <td>时间</td><!-- 首次交易时间 -->
            <td>开发ID</td>
            {% if request.user.userprofile.title.role_name == 'saleboss' or  request.user.userprofile.title.role_name in 'admin ops' %}
            <td>对接老师</td>
            {% endif %}
            <td>来源工具</td>
{#            <td>来源微信</td>#}
{#            <td>来源QQ</td>#}
            <td>客户姓名</td>
            <td>电话</td>
            <td>沟通方式</td>
            <td>昵称</td>
{#            <td>微信号</td>#}
{#            <td>微信昵称</td>#}
{#            <td>QQ号</td>#}
{#            <td>QQ昵称</td>#}
            <td>初始资金</td>
            <td>GEM</td>
            <td>合作状态</td>
{#            <td>消息</td>#}

{#            <td>修改时间</td>#}
            {% if not request.user.userprofile.title.role_name == 'saleboss' %}
                <td>操作</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% if customerPage %}
    {% for customerObj in customerPage %}
        <tr>
{#            <td>{{ customerObj.id }}</td>#}
            <td>{{ forloop.counter }}</td>
            <td>
                提交时间:{{ customerObj.create }}<br>
                首次合作:{{ customerObj.first_trade }}
            </td>
            <td>
                <span class="tooltips" data-toggle="tooltip" title="公司:{{ customerObj.sales.company }}-部门:{{ customerObj.sales.department }}">
                    {{ customerObj.sales.saleId }} {{ customerObj.sales.binduser.userprofile.nick }}
                </span>
            </td>
            <script type="text/javascript">
                $('.tooltips').tooltip();
            </script>
            {% if request.user.userprofile.title.role_name == 'saleboss' or  request.user.userprofile.title.role_name in 'admin ops'%}
            <td>{{ customerObj.teacher.teacherId }} {{ customerObj.teacher.binduser.userprofile.nick }}</td>
            {% endif %}
            <td>
                {% if customerObj.saleswx %} 微信: {{ customerObj.saleswx.wxid | mask8 }}{% endif %}
                {% if customerObj.salesqq %} QQ: {{ customerObj.salesqq.qqid | mask8 }}{% endif %}
            </td>

{#            <td>{% if customerObj.saleswx.delete %} <span title="已失效" class="glyphicon glyphicon-remove-sign"></span>{% endif %}{{ customerObj.saleswx.wxid }}</td>#}
{#            <td>{% if customerObj.salesqq.delete %} <span title="已失效" class="glyphicon glyphicon-remove-sign"></span>{% endif %}{{ customerObj.salesqq.qqid }}</td>#}
            {% if request.user.userprofile.title.role_name in 'salemanager' %}
            <td>{{ customerObj.name | maskname }}</td>
            <td>{{ customerObj.phone | maskphone }}</td>
            <td>
                {% if customerObj.saleswx %} 微信: {{ customerObj.wxid | masklast4 }}{% endif %}
                {% if customerObj.salesqq %} QQ: {{ customerObj.qqid | masklast4 }}{% endif %}
            </td>
            <td>
                {% if customerObj.saleswx %} {{ customerObj.wxname | masklast4 }}{% endif %}
                {% if customerObj.salesqq %} {{ customerObj.qqname | masklast4 }}{% endif %}
            </td>
            {% else %}
            <td>{{ customerObj.name }}</td>
            <td>{{ customerObj.phone }}</td>
            <td>
                {% if customerObj.sales %} 微信: {{ customerObj.wxid | mask8 }}{% endif %}
                {% if customerObj.sales and customerObj.qqid %} QQ: {{ customerObj.qqid | mask8 }}{% endif %}
            </td>
            <td>
                {% if customerObj.sales %} {{ customerObj.wxname | mask8 }}{% endif %}
                {% if customerObj.sales %} {{ customerObj.qqname | mask8 }}{% endif %}
            </td>
            {% endif %}
{#            <td>{{ customerObj.wxid }}</td>#}
{#            <td>{{ customerObj.wxname }}</td>#}
{#            <td>{{ customerObj.qqid }}</td>#}
{#            <td>{{ customerObj.qqname }}</td>#}
            <td>{{ customerObj.startup }}</td>
            <td>
                {% if customerObj.gem %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>
                {% if customerObj.status == 0 %}
                    <span class="label label-success">&gt;</span> 待客户加客户专员
                {% elif customerObj.status == 10 %}
                    <span class="label label-danger">&gt;</span> 待跟进
                    <p>{{ customerObj.message }}</p>
                {% elif customerObj.status == 20 %}
                    <span class="label label-success">&gt;</span> 已加老师
                {% elif customerObj.status == 30 %}
                    <span class="label label-danger">&gt;</span> 退回
                    <p>{{ customerObj.message }}</p>
                {% elif customerObj.status == 40 %}
                    <span class="label label-success">&gt;</span> 已合作
                {% elif customerObj.status == 98 %}
                    <span class="label label-disable">&gt;</span> 不诚信客户
                {% elif customerObj.status == 99 %}
                    <span class="label label-disable">&gt;</span> 标记删除
                {% endif %}
            </td>
{#            <td>{{ customerObj.message }}</td>#}

{#            <td>{{ customerObj.modify }}</td>#}
            <td>
                {% if customerObj.status == 10 or customerObj.status == 30 %}
                <button type="button" class="btn btn-sm btn-primary" onclick="editCustomer(this)"
                    data-id="{{ customerObj.id }}"
                    data-saleid="{{ customerObj.sales.saleId }}"
                    data-saleswx="{{ customerObj.saleswx.id }}"
                    data-salesqq="{{ customerObj.salesqq.id }}"
                    data-name="{{ customerObj.name }}"
                    data-phone="{{ customerObj.phone }}"
                    data-wxid="{{ customerObj.wxid }}"
                    data-wxname="{{ customerObj.wxname }}"
                    data-qqid="{{ customerObj.qqid }}"
                    data-qqname="{{ customerObj.qqname }}"
                    data-startup="{{ customerObj.startup }}"
                    data-status="{{ customerObj.status }}"
                    data-gem="{{ customerObj.gem }}"
                >编辑</button>
                {% endif %}
                {% if request.user.userprofile.title.role_name in "admin ops" %}
                {% if customerObj.status == 0 or customerObj.status == 10 or customerObj.status == 30 %}
{#                <button type="button" class="btn btn-sm btn-danger" onclick="delCustomer(this)"#}
{#                    data-id="{{ customerObj.id }}">删除</button>#}
                <button type="button" class="btn btn-sm btn-danger" onclick="delRealCustomer(this)"
                    data-id="{{ customerObj.id }}">彻底删除</button>
                {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% else %}
         <tr><td colspan="16">无客户信息</td></tr>
    {% endif %}
    </tbody>
</table>
<nav class="navbar-right">
  <ul class="pagination">
    <li>
        {% if customerPage.has_previous %}
            <span aria-hidden="true" onclick="loadCustomerDiv('page={{ customerPage.previous_page_number }}&{{ requestArgs }}')">&laquo;</span>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ customerPage.number }}/{{ customerPage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if customerPage.has_next %}
            <span aria-hidden="true" onclick="loadCustomerDiv('page={{ customerPage.next_page_number }}&{{ requestArgs }}')">&raquo;</span>
        {% endif %}
    </li>
  </ul>
</nav>

