    <form id="searchFixContentLogForm" method="POST" class="form-horizontal">
{#         <div class="form-group">#}
{#             <label class="col-md-1 control-label">时间范围</label>#}
{#             <div class="col-md-2">#}
{#                 <input type="date" class="form-control datetime" value="{{ startDate }}" name="startDate" id="startDate"#}
{#                 title="起始时间" />#}
{#             </div>#}
{#             <div class="col-md-2">#}
{#                 <input type="date" class="form-control datetime" value="{{ endDate }}" name="endDate" id="endDate"#}
{#                   title="结束时间" />#}
{#             </div>#}
{#         </div>#}

         <div class="form-group">
{#             <label class="col-md-1 control-label"></label>#}
{#             <div class="col-md-1">#}
{#                 <button type="submit" class="btn btn-sm btn-primary">搜索</button>#}
{#             </div>#}
             <div class="col-md-1">
                 {% if request.user.userprofile.title.role_name in 'admin ops'%}
                  <button type="button" class="btn btm-sm btn-success" data-toggle="modal" data-target="#addFixContentModal" >新增日志</button>
                 {% endif %}
             </div>
         </div>
    </form>


    <div id="layout" class="clearfix">
      <section id="layout-content">

      </section>
      {% for log in logPage %}
         <pre style="line-height: 5px">
            {%  if user.userprofile.title.role_name in 'admin ops' %}
             <li style="line-height: 5px">{{ log.create }}  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editFixContentModal"
                                         data-id="{{ log.id }}" data-content="{{ log.fixContent }}" onclick="editFixContent(this)">修改</button></li>
            {% else %}
                <li style="line-height: 5px">{{ log.create }}</li>
            {% endif %}
         <div style="font-family: 宋体; font-size: 11px; line-height: 5px">{{ log.fixContent }}</div>
         </pre>
      {% endfor %}
    </div>
{#    <table class="table table-bordered">#}
{#      <thead class="bg-info">#}
{#        <th width="1%">序号</th>#}
{#        <th width="1%">维护员</th>#}
{#        <th width="1%">维护日期</th>#}
{#        <th width="5%">维护内容</th>#}
{#      </thead>#}
{#    <tbody>#}
{#      {% for log in logPage %}#}
{#            <td>{{ forloop.counter }}</td>#}
{#            <td>{{ log.name }}</td>#}
{#            <td>{{ log.fixTime }}</td>#}
{#            <td>{{ log.fixContent }}</td>#}
{#        <tr style="padding:0;"><td colspan="11" style="padding:0;">#}
{#        </td></tr>#}
{#        {% empty %}#}
{#            <tr><td colspan="10">无记录</td></tr>#}
{#      {% endfor %}#}
{#    </tbody>#}
{#    </table>#}

<nav class="navbar-right">
  <ul class="pagination">
    <li>
        {% if logPage.has_previous %}
            <a href="?page={{ logPage.previous_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}"> <span aria-hidden="true">&laquo;</span></a>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ logPage.number }}/{{ logPage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if logPage.has_next %}
{#            <a href="?page={{ logPage.next_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}"><span aria-hidden="true">&raquo; </span></a>#}
           <a href="?page={{ logPage.next_page_number }}><span aria-hidden="true">&raquo; </span></a>
        {% endif %}
    </li>
  </ul>
</nav>
