<script type="text/javascript">
    $(function () {
        contentShow();
    });

    function contentShow() {
        var showInfo = {{ showContent|safe }};
        if( showInfo == 'True'){
            $('#userHead').css("display","none");
            $('#userHead')[0].style.display='none';
            $('#userTable')[0].style.display='';
            $('#userNav')[0].style.display='';
        } else{
            $('#userHead')[0].style.display='display';
            $('#userTable')[0].style.display='none';
            $('#userNav')[0].style.display='none';
        }
    }
</script>

<h1 id="userHead" name="teacherHead" style="text-align:center;">请输入搜索条件</h1>
<table id="userTable" class="table table-bordered col-md-12 table-hover">
    <thead class="bg-info">
        <tr>
{#            <td>用户ID</td>#}
            <td>序号</td>
            <td>用户ID</td>
            <td>姓名</td>
            <td>身份证号</td>
            <td>公司</td>
            <td>部门</td>
            <td>组</td>
            <td>职位</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
    {% if userpage %}
    {% for userObj in userpage %}
        <tr>
{#            <td>{{ userObj.id }}</td>#}
            <td>{{ forloop.counter }}</td>
            <td>{{ userObj.username }}</td>
            <td>{{ userObj.userprofile.nick }}</td>
            <td>{{ userObj.userprofile.cid }}</td>
            <td>{{ userObj.userprofile.company }}</td>
            <td>{{ userObj.userprofile.department }}</td>
            <td>{{ userObj.userprofile.group }}</td>
            <td>{{ userObj.userprofile.title.role_desc }}</td>
            <td>

                <button type="button" class="btn btn-sm btn-warning" onclick="resetPw(this)"
                    data-userid="{{ userObj.id }}">重置密码</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="editUser(this)"
                    data-userid="{{ userObj.id }}"
                    data-page="{{ userpage.number }}"
                    data-username="{{ userObj.username }}"
                    data-nick="{{ userObj.userprofile.nick }}"
                    data-cid="{{ userObj.userprofile.cid }}"
                    data-company="{{ userObj.userprofile.company }}"
                    data-department="{{ userObj.userprofile.department }}"
                    data-group="{{ userObj.userprofile.group }}"
                    data-titleid="{{ userObj.userprofile.title.id }}"
                >编辑</button>

                <button type="button" class="btn btn-sm btn-danger" onclick="delUser(this)"
                    data-userid="{{ userObj.id }}">删除</button>
                {% if userObj.userprofile.title.role_name == 'sale' %}
                    <button type="button" class="btn btn-sm btn-success" onclick="chargebackSerial(this)"
                    data-userid="{{ userObj.id }}">退单率走势</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% else %}
         <tr><td colspan="8">无用户信息</td></tr>
    {% endif %}
    </tbody>
</table>
<nav id="userNav" class="navbar-right">
  <ul class="pagination">
    <li>
    <input type="hidden" id="pagenum"  value="{{ userpage.number }}"/>
        {% if userpage.has_previous %}
            <span aria-hidden="true" onclick="loadUserDiv('page={{ userpage.previous_page_number }}&{{ requestArgs }}')">&laquo;</span>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ userpage.number }}/{{ userpage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if userpage.has_next %}
            <span aria-hidden="true" onclick="loadUserDiv('page={{ userpage.next_page_number }}&{{ requestArgs }}')">&raquo;</span>
        {% endif %}
    </li>
  </ul>
</nav>
