{% extends 'base_full_noheader.html' %}

{% block title %}系统维护日志{% endblock %}

{% block content %}
    <div class="modal fade" id="addFixContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">系统维护</h4>
                </div>

                <div class="modal-body">
                    <!---The form is placed inside the body of moadl-->
                    <form id="addFixContentForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="id" name="id"/>
                            <label class="col-md-offset-2 col-md-2 control-lable" for="content">维护内容</label>
                            <div class="col-md-5">
                                <textarea class="form-control" id="content" name="content"/> </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addFixContontBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editFixContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">系统维护</h4>
                </div>

                <div class="modal-body">
                    <!---The form is placed inside the body of moadl-->
                    <form id="editFixContentForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="eid" name="id"/>
                            <label class="col-md-offset-2 col-md-2 control-lable" for="econtent">维护内容</label>
                            <div class="col-md-5">
{#                                <input type="textarea" class="form-control"  id="content" name="content"/>#}
                                <textarea class="form-control" id="econtent" name="content"/> </textarea>
                            </div>
                        </div>
{#                        <hr/>#}
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    {% if request.user.userprofile.title.role_name == 'admin'  or  request.user.userprofile.title.role_name == 'ops' %}
                                     <button id="editFixContontBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        formValidator();
        $('#addFixContentModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#editFixContentModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function resetFormValidator() {
        var fixConentform = $('#addFixContentForm');
        fixConentform.find(':input').val("");
        fixConentform.data('bootstrapValidator').destroy();
        formValidator();
    }
    function formValidator() {
        $('#addFixContentForm').bootstrapValidator({
            message:'This value is not valid',
            feedbackIcons:{
                valid: 'glyphicon glyphicon-ok',
                invalid:'glypgucon glyphicon-remove',
                validating:'glyphicon glyphicon-refresh'
            },
            fields:{
                content:{
                    validators:{
                        notEmpty:{
                            message:'必须填'
                        },
                        stringLength:{/*长度提示*/
                            max:300,
                            message:'内容必须小于300字'
                        }
                    }
                }
            },
            submitHandler: function (validator,form,submitButton) {
                $('#addFixContentModal').modal('hide');
                $.post(
                    "{% url 'ops:addFixContent' %}",
                    form.serialize(),
                    function (result) {
                        showMsgModal(result.msg,result.msgLevel);
                    },
                    'json'
                );
            }
        });
       $('#editFixContentForm').bootstrapValidator({
            message:'This value is not valid',
            feedbackIcons:{
                valid: 'glyphicon glyphicon-ok',
                invalid:'glypgucon glyphicon-remove',
                validating:'glyphicon glyphicon-refresh'
            },
            fields:{
                content:{
                    validators:{
                        notEmpty:{
                            message:'必须填'
                        },
                        stringLength:{/*长度提示*/
                            max:300,
                            message:'内容必须小于300字'
                        }
                    }
                }
            },
            submitHandler: function (validator,form,submitButton) {
                $('#editFixContentModal').modal('hide');
                $.post(
                    "{% url 'ops:addFixContent' %}",
                    form.serialize(),
                    function (result) {
                        showMsgModal(result.msg,result.msgLevel);
                    },
                    'json'
                );
            }
        });
       $('#logdiv').load("{% url 'ops:queryLog' %}");
    }
    function editFixContent(obj) {
        $('#eid').val($(obj).data("id"));
        $('#econtent').val($(obj).data("content"));
    }
    </script>


    <br/>

    <div id="logdiv"></div>

{% endblock %}