{% extends 'base_full_noheader.html' %}

{% block title %}用户管理{% endblock %}
{% block content %}

    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">用户管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addUserForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="nick" >姓名</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="nick" name="nick"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="userid" name="userid"/>
                            <input type="hidden" value="" class="" id="page" name="page"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="username">ID</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="username" name="username"
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $('#nick').on('change', function(){
                                $('#username').val(codefans_net_CC2PY($('#nick').val()));

                            });
                        </script>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="cid" >身份证</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="cid" name="cid"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="company" >公司</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="company" name="company"
                                {% if request.user.userprofile.title.role_name == 'saleboss' %}
                                    value="{{ request.user.userprofile.company }}" readonly
                                {% endif %}
                                />
                            </div>
                        </div>
                        <div id="roleDiv1" style="display:none">
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv1department" >部门</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="roleDiv1department" name="roleDiv1department" placeholder="格式：1"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv1group" >组</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="roleDiv1group" name="roleDiv1group" placeholder="格式：01"/>
                              </div>
                          </div>
                        </div>
                        <div id="roleDiv2">
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv2department" >部门</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="roleDiv2department" name="roleDiv2department"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv2group" >组</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="roleDiv2group" name="roleDiv2group"/>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="title" >职位</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="title" name="title">
                                    {% if request.user.userprofile.title.role_name == 'admin' %}
                                        <option value="1"> 超级管理员</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'salemanager saleboss admin ops' %}
                                        <option value="3"> 客户开发经理</option>
                                        <option value="4"> 客户开发专员</option>
                                        <option value="5"> 客户开发总经理</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'teachermanager teacherboss admin ops' %}
                                        <option value="6"> 客户管理专员</option>
                                        <option value="7"> 客户管理经理</option>
                                        <option value="8"> 客户管理总经理</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'bursarmanager admin ops' %}
                                        <option value="9"> 财务专员</option>
                                        <option value="10"> 财务经理</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'admin ops' %}
                                        <option value="11"> 管理员</option>
{#                                        <option value="12"> 现货老师</option>#}
{#                                        <option value="13"> 现货经理</option>#}
                                    {% endif %}
                                </select>

                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#title').on('change', function(){
                                if($(this).val() == '4' || $(this).val() == '6'){
                                    $('#roleDiv1').show();
                                    $('#roleDiv2').hide();

                                }else {
                                    $('#roleDiv1').hide();
                                    $('#roleDiv2').show();
                                }
                                $('#addUserForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addUserBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">用户管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="editUserForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="nick" >姓名</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="enick" name="nick"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="euserid" name="userid"/>
                            <input type="hidden" value="" class="" id="epage" name="page"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="username">ID</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="eusername" name="username"
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $('#enick').on('change', function(){
                                $('#eusername').val(codefans_net_CC2PY($('#enick').val()));

                            });
                        </script>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="cid" >身份证</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="ecid" name="cid"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="company" >公司</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="ecompany" name="company" placeholder="格式:A" />
{#                                {% if request.user.userprofile.title.role_name == 'saleboss' %}#}
{#                                    value="{{ request.user.userprofile.company }}" readonly#}
{#                                {% endif %}#}
{#                                />#}
                            </div>
                        </div>
                        <div id="eroleDiv1" style="display:none">
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv1department" >部门</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="eroleDiv1department" name="roleDiv1department" placeholder="格式：1"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv1group" >组</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="eroleDiv1group" name="roleDiv1group" placeholder="格式：01"/>
                              </div>
                          </div>
                        </div>
                        <div id="eroleDiv2">
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv2department" >部门</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="eroleDiv2department" name="roleDiv2department"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-offset-2 col-md-2 control-label" for="roleDiv2group" >组</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" id="eroleDiv2group" name="roleDiv2group"/>
                              </div>
                          </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="title" >职位</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="etitle" name="title">
                                    {% if request.user.userprofile.title.role_name == 'admin' %}
                                        <option value="1"> 超级管理员</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'salemanager saleboss admin ops' %}
                                        <option value="3"> 客户开发经理</option>
                                        <option value="4"> 客户开发专员</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'teachermanager teacherboss admin ops' %}
                                        <option value="6"> 客户管理专员</option>
                                        <option value="7"> 客户管理经理</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'bursarmanager admin ops' %}
                                        <option value="9"> 财务专员</option>
                                        <option value="10"> 财务经理</option>
                                    {% endif %}
                                    {% if request.user.userprofile.title.role_name in 'admin ops' %}
                                        <option value="11"> 管理员</option>
                                        <option value="12"> 现货老师</option>
                                        <option value="13"> 现货经理</option>
                                        <option value="5"> 客户开发总经理</option>
                                        <option value="8"> 客户管理总经理</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#etitle').on('change', function(){
                                if($(this).val() == '4' || $(this).val() == '6'){
                                    $('#eroleDiv1').show();
                                    $('#eroleDiv2').hide();

                                }else {
                                    $('#eroleDiv1').hide();
                                    $('#eroleDiv2').show();
                                }
                                $('#editUserForm').data('bootstrapValidator').disableSubmitButtons(false);
                            });
                        </script>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="editUserBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chargebackSerialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">退单率</h4>
                </div>

                <div class="modal-body" >
                    <div id="chargebackSerialDiv" style="width: 900px;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        formValidator();
        loadUserDiv();
        $('#addUserModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#editUserModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function resetFormValidator(){
        $('#addUserForm input').not('#page').not('#company').val("");
        $('#addUserForm').data('bootstrapValidator').destroy();
        $('#editUserForm input').not('#page').not('#company').val("");
        $('#editUserForm').data('bootstrapValidator').destroy();
        $('#searchUserForm').data('bootstrapValidator').destroy();
        formValidator();
    }
    function loadUserDiv(data){
        $('#userDiv').load("{% url 'ops:queryUser' %}", data);
    }
    function formValidator(){
           $('#addUserForm').bootstrapValidator({
{#                excluded: [':disabled'],#}
                exclude: [':not(visible)'],
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        validators: {
                            notEmpty: {
                                message: '请输入用户ID'
                            },
                            remote: {
                                message: 'ID已存在,请手动编辑',
                                url: '{% url "ops:checkUserId" %}',
                            }

                        }
                    },
                    nick: {
                        validators: {
                            notEmpty: {
                                message: '请输入用户姓名'
                            }
                        }
                    },
                    cid: {
                        validators: {
                            notEmpty: {
                                message: '请输入身份证号',
                            },
                            regexp: {
                                regexp: "^[0-9|x|X]{18}$",
                                message: "请输入正确的18位身份证号"
                            },
                            remote: {
                                message: '身份证号已存在',
                                url: '{% url "ops:checkCId" %}',
                            }
                        }
                    },
                    company: {
                        validators: {
                            notEmpty: {
                                message: '公司代码不能为空',
                            },
                            stringLength: {
                                max: 1,
                                message: "公司代码只包含一个字符"
                            },
                            regexp: {
                                regexp: "^[A-Z]$",
                                message: "公司代码必须为大写字母"
                            },
                        }
                    },
                    roleDiv1department:{
                        validators:{
                            notEmpty:{message: '部门代码不能为空'},
                            stringLength:{max:1,message:'部门代码只包含一个数字'},
                            regexp:{regexp:"^[1-9]$", message:'部门代码1-9'},
                        }
                    },
                    roleDiv1group:{
                        validators:{
                            notEmpty:{message:'组代码不能为空'},
                            stringLength:{min:2,max:2,message:'组代码为2位数字'},
                            regexp:{regexp:"^[0-9]{2}$", message:'组代码为数字'},
                        }
                    },
                },
                submitHandler: function (validator, form, submitButton) {

                    $('#addUserModal').modal('hide');
                    $.post(
                        "{% url 'ops:addUser' %}",
                        form.serialize(),
                        function(result) {
                            showMsgModal(result.msg, result.msgLevel);
                            data = 'page='+$('#page').val()+'&msg=true';
                            loadUserDiv(data);
                        },
                        'json'
                    );
                }
           });

        $('#editUserForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '请输入用户ID'
                        },
                        remote: {
                            message: 'ID已存在,请手动编辑',
                            url: '{% url "ops:checkEditUserId" %}',
                        }

                    }
                },
                nick: {
                    validators: {
                        notEmpty: {
                            message: '请输入用户姓名'
                        }
                    }
                },
                cid: {
                    validators: {
                        notEmpty: {
                            message: '请输入身份证号',
                        },
                        regexp: {
                            regexp: "^[0-9|x|X]{18}$",
                            message: "请输入正确的18位身份证号"
                        },
                        remote: {
                            message: '身份证号已存在',
                            url: '{% url "ops:checkEditCId" %}',
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                console.log();
                $('#editUserModal').modal('hide');
                $.post(
                    "{% url 'ops:addUser' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        data = 'page='+$('#epage').val();
                        var arr = new Array(2);
                        arr[0] = data;
                        arr[1] = $('#searchUserForm').serialize();
                        data = arr.join("&");
                        loadUserDiv(data);
                    },
                    'json'
                );
            }
        });
        $('#searchUserForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadUserDiv(form.serialize());
                resetFormValidator()
            }
        });
    }
    function editUser(obj){
        $('#euserid').val($(obj).data("userid"));
        $('#epage').val($(obj).data("page"));
        $('#eusername').val($(obj).data("username"));
        $('#enick').val($(obj).data("nick"));
        $('#ecid').val($(obj).data("cid"));
        $('#ecompany').val($(obj).data("company"));
        $('#etitle').val($(obj).data("titleid"));
        $('#eroleDiv1department').val($(obj).data("department"));
        $('#eroleDiv1group').val($(obj).data("group"));
        $('#eroleDiv2department').val($(obj).data("department"));
        $('#eroleDiv2group').val($(obj).data("group"));
{#        if($(obj).data("titleid") == '4' || $(obj).data("titleid") == '6' ){#}
{#            $('#eroleDiv1department').val($(obj).data("department"));#}
{#            $('#eroleDiv1group').val($(obj).data("group"));#}
{#        }#}
{#        else{#}
{#            $('#eroleDiv2department').val($(obj).data("department"));#}
{#            $('#eroleDiv2group').val($(obj).data("group"));#}
{#        }#}
        $('#editUserModal').modal("show");
    }
    function delUser(obj){
        if(confirm("删除确认")){
            var userid = $(obj).data("userid");
            $.post(
                "{% url 'ops:delUser' %}",
                {userid:userid},
                function(result) {
                    showMsgModal(result.msg, result.msgLevel);
                    data = 'msg=true';
                    loadUserDiv(data);
                },
                'json'
            );
        }
    }
    function resetPw(obj){
        if(confirm("是否重置密码为123456")){
            var userid = $(obj).data("userid");
            $.post(
                "{% url 'ops:resetPw' %}",
                {userid:userid},
                function(result) {
                    showMsgModal(result.msg, result.msgLevel);
                    var pagenum = 'page='+$('#pagenum').val();
                    var searchForm = $('#searchUserForm').serialize();
                    var arr = new Array(2);
                    arr[0] = pagenum;
                    arr[1] = searchForm;
                    data = arr.join("&");
                    loadUserDiv(data);
                },
                'json'
            );
        }
    }
    function chargebackSerial(obj){
        var userid = $(obj).data('userid');
        $('#chargebackSerialDiv').load("{% url 'ops:chargebackSerial' %}?userid="+userid);
        $('#chargebackSerialModal').modal('show');
    }
    </script>
    <br/>
    <br/>
    <form id="searchUserForm" method="POST" class="form-horizontal ">
        <div class="form-group">
            <label class="col-md-1 control-label">公司</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ company }}" name="company"/>
            </div>
            <label class="col-md-1 control-label">部门</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ department }}" name="department"/>
            </div>
            <label class="col-md-1 control-label">职位</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ title }}" name="title"/>
            </div>
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
                    <lable class="btn btn-sm btn-success" data-toggle="modal" data-target="#addUserModal">新增用户</lable>
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">用户ID</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ username }}" name="username"/>
            </div>
            <label class="col-md-1 control-label">姓名</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ nick }}" name="nick"/>
            </div>
            <label class="col-md-1 control-label">身份证</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ cid }}" name="cid"/>
            </div>
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
                    <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
            </div>
        </div>
    </form>
    <div id="userDiv"></div>
{% endblock %}