{% extends 'base_nobar.html' %}
{% block title %}收款管理{% endblock %}
{% block content %}
<div class="modal fade" id="payTradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">收款管理</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="payTradeForm" method="post" class="form-horizontal">
                    <input type="hidden" value="" class="" id="ptid" name="ptid"/>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="ptpaytype" >收款方式</label>
                        <div class="col-md-5">
                            <select type="select" class="form-control" id="ptpaytype" name="ptpaytype">
                                <option value="支付宝">支付宝</option>
                                <option value="微信">微信</option>
                                <option value="中国银行">中国银行</option>
                                <option value="农业银行">农业银行</option>
                                <option value="交通银行">交通银行</option>
                                <option value="建设银行">建设银行</option>
                                <option value="工商银行">工商银行</option>
                                <option value="招商银行">招商银行</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="ptpaycash">收款金额</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="ptpaycash" name="ptpaycash"/>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-3">
                                <button id="payTradeBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        formValidator();
        loadTradeDiv();
        loadCustomerDiv();
        $('#payTradeModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function loadTradeDiv(data){
        var customerId = "{{ customer.id }}";
        data = "customerid=" + customerId + '&'+data;
        $('#tradeDiv').load("{% url 'trade:queryTrade' %}", data);
    }
    function loadCustomerDiv(data){
        var customerId = "{{ customer.id }}";
        data = "customerid=" + customerId + '&'+data;
        $('#customerDiv').load("{% url 'customer:getCustomerById' %}", data);
    }
    function updateParentWindow(){
        window.opener.loadCustomerPayDiv();
    }
    function payTrade(obj){
        $('#ptid').val($(obj).data("ptid"));
        $('#ptpaycash').val($(obj).data("ptpaycash"));
        $('#payTradeModal').modal("show");
    }
    function formValidator(){
        $('#payTradeForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                ptpaytype: {
                    validators: {
                        notEmpty: {
                            message: '必填项',
                        },
                    }
                },
                ptpaycash: {
                    validators: {
                        notEmpty: {
                            message: '必填项',
                        }
                    }
                },
            },
            submitHandler: function (validator, form, submitButton) {
                $('#payTradeModal').modal('hide');
                $.post(
                    "{% url 'trade:payTrade' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadTradeDiv();
                        loadCustomerDiv();
                        updateParentWindow();
                    },
                    'json'
                );
            }
        });
    }
    function resetFormValidator(){
        formValidator();
    }
</script>
<div id="customerDiv"></div>
{#<div class="col-md-2">#}
{#        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addTradeModal">新增交易</button>#}
{#</div>#}
    <br/>
    <br/>
<div id="tradeDiv" data-customerid="{{ customer.id }}"></div>
{% endblock %}