{% extends 'base_nobar.html' %}
{% block title %}现货交易管理{% endblock %}
{% block content %}
<div class="modal fade" id="addSpotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">交易管理</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="addSpotForm" method="post" class="form-horizontal">
                    <input type="hidden" value="{{ customer.id }}" class="" id="customerid" name="customerid"/>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="spotday" >交易时间</label>
                        <div class="col-md-5">
                            <input type="date" value="" class="form-control" id="spotday" name="spotday"/>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var date = new Date();
                        var dateString = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
                        $('#spotday').val(dateString);
                    </script>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="cash" >净入金</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="cash" name="cash"/>
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <label class="col-md-offset-2 col-md-2 control-label" for="outcash" >出金</label>#}
{#                        <div class="col-md-5">#}
{#                            <input type="text" class="form-control" id="outcash" name="outcash"/>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label class="col-md-offset-2 col-md-2 control-label" for="incash" >入金</label>#}
{#                        <div class="col-md-5">#}
{#                            <input type="text" class="form-control" id="incash" name="incash"/>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="profit" >盈亏</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="profit" name="profit"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="tax" >手续费</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="tax" name="tax"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-3">
                                <button id="addSpotBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="handleSpotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">交易管理</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="handleSpotForm" method="post" class="form-horizontal">
                    <input type="hidden" value="{{ customer.id }}" class="" id="hsid" name="hsid"/>
{#                    <div class="form-group">#}
{#                        <label class="col-md-offset-2 col-md-2 control-label" for="hsspotday" >交易时间</label>#}
{#                        <div class="col-md-5">#}
{#                            <input type="date" value="" class="form-control" id="hsspotday" name="hsspotday"/>#}
{#                        </div>#}
{#                    </div>#}
                    <script type="text/javascript">
                        var date = new Date();
                        var dateString = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
                        $('#hsspotday').val(dateString);
                    </script>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="hscash" >净入金</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="hscash" name="hscash"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="hsprofit" >盈亏</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="hsprofit" name="hsprofit"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label" for="hstax" >手续费</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="hstax" name="hstax"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-3">
                                <button id="handleSpotBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        formValidator();
        loadSpotDiv();
        loadCustomerDiv();
        $('#handleSpotModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#addSpotModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function loadSpotDiv(data){
        var customerId = "{{ customer.id }}";
        data = "customerid=" + customerId + '&'+data;
        $('#spotDiv').load("{% url 'spot:querySpot' %}", data);
    }
    function loadCustomerDiv(data){
        var customerId = "{{ customer.id }}";
        data = "customerid=" + customerId + '&'+data;
        console.log("query customer")
        $('#customerDiv').load("{% url 'customer:getSpotCustomerById' %}", data);
    }
    function updateParentWindow(){
        window.opener.loadSpotCustomerDiv();
    }
    function handleSpot(obj){
        $('#hsid').val($(obj).data("hsid"));
        $('#hstype').val($(obj).data("hstype"));
        $('#hscash').val($(obj).data("hscash"));
        var hscreate = $(obj).data("hscreate");
        hscreate = hscreate.replace("年", "-").replace("月", "-").replace("日", "").split(" ")[0];
        console.log(hscreate);
        $('#hsspotday').val(hscreate);
        $('#hsprofit').val($(obj).data("hsprofit"));
        $('#hstax').val($(obj).data("hstax"));
        $('#handleSpotModal').modal("show");
    }
    function formValidator(){
        $('#addSpotForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                spotday: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                cash: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                outcash: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        lessThan:{
                            value: 0,
                            inclusive: true,
                            message: '必须&le;0'
                        }
                    },
                },
                incash: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        greaterThan:{
                            value: 0,
                            inclusive: true,
                            message: '必须&ge;0'
                        }
                    },
                },
                profit: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                tax: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        greaterThan:{
                            value: 0,
                            inclusive: true,
                            message: '必须&ge;0'
                        }
                    }
                }

            },
            submitHandler: function (validator, form, submitButton) {
                $('#addSpotModal').modal('hide');
                $.post(
                    "{% url 'spot:addSpot' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadSpotDiv();
                        loadCustomerDiv();
                        updateParentWindow();
                    },
                    'json'
                );
            }
        });
        $('#handleSpotForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                hsid: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                hscash: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                hsspotday: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                hsprofit: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                hstax: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        },
                        greaterThan:{
                            value: 0,
                            inclusive: true,
                            message: '必须&ge;0'
                        }
                    }
                },

            },
            submitHandler: function (validator, form, submitButton) {
                $('#handleSpotModal').modal('hide');
                $.post(
                    "{% url 'spot:handleSpot' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadSpotDiv();
                        loadCustomerDiv();
                        updateParentWindow();
                    },
                    'json'
                );
            }
        });
{#        $('#searchSaleForm').bootstrapValidator({#}
{#            excluded: [':disabled'],#}
{#            message: 'This value is not valid',#}
{#            feedbackIcons: {#}
{#                valid: 'glyphicon glyphicon-ok',#}
{#                invalid: 'glyphicon glyphicon-remove',#}
{#                validating: 'glyphicon glyphicon-refresh'#}
{#            },#}
{#            fields: {#}
{#            },#}
{#            submitHandler: function (validator, form, submitButton) {#}
{#                loadSaleDiv(form.serialize());#}
{#                resetFormValidator()#}
{#            }#}
{#        });#}
    }
    function resetFormValidator(){
        var tradeFormSelector = $('#addSpotForm');
        tradeFormSelector.find('input').not('#customerid').val("");
        tradeFormSelector.data('bootstrapValidator').destroy();
        var date = new Date();
        var dateString = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
        $('#spotday').val(dateString);
        var handleSpotFormSelector = $('#handleSpotForm');
        handleSpotFormSelector.find('input').not('#htcustomerid').val('');
        handleSpotFormSelector.data('bootstrapValidator').destroy();
{#        $('#searchSaleForm').data('bootstrapValidator').destroy();#}
        formValidator();
    }
</script>
<div id="customerDiv"></div>
{% if request.user.userprofile.title.role_name == 'spotteacher' or request.user.userprofile.title.role_name in 'spotmanager ops admin' %}
<div class="col-md-2">
    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addSpotModal">新增交易</button>
</div>
{% endif %}
<br/>
<br/>
<div id="spotDiv" data-customerid="{{ customer.id }}"></div>
{% endblock %}