{% extends 'base_noheader.html' %}

{% block title %}现货老师管理{% endblock %}
{% block content %}

    <div class="modal fade" id="addTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">老师管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addTeacherForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="id" name="id"/>
                            <input type="hidden" value="" class="" id="page" name="page"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="teacherid">老师ID</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="teacherid" name="teacherid"
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="binduser" >绑定用户</label>
                            <div class="col-md-5">
                                <select type="select" class="form-control" id="binduser" name="binduser">
                                    <option>无</option>
                                    {% if bindusers %}
                                        {% for binduser in bindusers %}
                                            <option value="{{ binduser.id }}"> {{ binduser.username }}-{{ binduser.userprofile.nick }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addTeacherBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addTeacherGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">现货老师组管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addTeacherGroupForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="teacherCompany">老师公司</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="teacherCompany" name="teacherCompany"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="teacherDepartment" >老师部门</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="teacherDepartment" name="teacherDepartment"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="teacherGroup" >老师组</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="teacherGroup" name="teacherGroup"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="teacherCount" >老师数量</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="teacherCount" name="teacherCount"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addTeacherGroupBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        formValidator();
        loadTeacherDiv();
        $('#addTeacherModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#addTeacherGroupModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function resetFormValidator(){
        var teacherFormSelector = $('#addTeacherForm');
        teacherFormSelector.find(':input').not('#page').val("");
        teacherFormSelector.data('bootstrapValidator').destroy();
        var teacherGroupFormSelector = $('#addTeacherGroupForm');
        teacherGroupFormSelector.find(':input').not('#page').val("");
        teacherGroupFormSelector.data('bootstrapValidator').destroy();
        $('#searchTeacherForm').data('bootstrapValidator').destroy();
        formValidator();
    }
    function loadTeacherDiv(data){
        $('#teacherDiv').load("{% url 'spot:queryTeacher' %}", data);
    }
    function formValidator(){
        $('#addTeacherForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                teacherid: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#addTeacherModal').modal('hide');
                $.post(
                    "{% url 'spot:addTeacher' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        data = 'page='+$('#page').val();
                        loadTeacherDiv(data);
                    },
                    'json'
                );
            }
        });
        $('#addTeacherGroupForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                teacherCompany: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                teacherDepartment: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                teacherGroup: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                teacherCount: {
                    validators: {
                        notEmpty: {
                            message: '必填项',
                        },
                    }
                },
            },
            submitHandler: function (validator, form, submitButton) {
                $('#addTeacherGroupModal').modal('hide');
                $.post(
                    "{% url 'spot:addTeacherGroup' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadTeacherDiv();
                    },
                    'json'
                );
            }
        });
        $('#searchTeacherForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadTeacherDiv(form.serialize());
                resetFormValidator()
            }
        });
    }
    function editTeacher(obj){
        $('#id').val($(obj).data("id"));
        $('#page').val($(obj).data("page"));
        $('#teacherid').val($(obj).data("teacherid"));
        $('#company').val($(obj).data("company"));
        $('#department').val($(obj).data("department"));
        $('#binduser').val($(obj).data("binduser"));
        $('#addTeacherModal').modal("show");
    }
    function delTeacher(obj){
        if(confirm("删除确认")){
            var id = $(obj).data("id");
            $.post(
                "{% url 'spot:delTeacher' %}",
                {id:id},
                function(result) {
                    showMsgModal(result.msg, result.msgLevel);
                    loadTeacherDiv();
                },
                'json'
            );
        }
    }
    </script>
    <br/>
    <br/>
    <form id="searchTeacherForm" method="POST" class="form-horizontal ">
        <div class="form-group">
            <label class="col-md-1 control-label">公司</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ company }}" name="company"/>
            </div>
            <label class="col-md-1 control-label">部门</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ department }}" name="department"/>
            </div>
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
{#                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addTeacherModal">新增老师</button>#}
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addTeacherGroupModal">新增老师组</button>
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">老师ID</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ teacherid }}" name="teacherid"/>
            </div>
            <label class="col-md-1 control-label">绑定用户</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ binduser }}" name="binduser"/>
            </div>
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
                    <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
            </div>
        </div>
    </form>
    <div id="teacherDiv"></div>
{% endblock %}