{% load sale_tags %}
<table class="table table-bordered">
    <thead class="bg-info">
        <th width="2%">序号</th>
{#        <th width="5%">开发专员</th>#}
        <th width="5%">当前用户</th>
        <th width="5%">有效客户</th>
        <th width="5%">10W+客户</th>
        <th width="5%">买入资金</th>
        <th width="5%">微信好友新增</th>
{#        <th width="5%">微信好友总数</th>#}
        <th width="5%">QQ好友新增</th>
{#        <th width="5%">QQ好友总数</th>#}
        <th width="5%">退单率</th>
{#        <th width="5%">不诚信客户</th>#}
    </thead>
    <tbody>
        {% for sale in sales %}

        <tr data-company="{{ company }}" data-department="{{ department }}" data-group="{{ group }}"
            data-sale="{{ sale.id }}" id="sale_row_{{ company }}_{{ department }}_{{ group }}_{{ sale.id }}"
            ondblclick="showSaleDetail(this)" class="sale_row">
            <td>{{ forloop.counter }}</td>
            <td>{{ sale.sale }} {% getNickBySaleId sale.id %}</td>
            <td>{{ sale.dcount }}</td>
            <td>{% getCrudeCountBySale sale.id startDate endDate %}</td>
            <td>{% getTotalBuyCashBySale sale.id startDate endDate %}</td>
            <td>{% getWxFriendDeltaBySale sale.id startDate endDate %}</td>
{#---            <td>{% getWxFriendTotalBySale sale.id %}</td>#}
            <td>{% getQqFriendDeltaBySale sale.id startDate endDate %}</td>
{#---            <td>{% getQqFriendTotalBySale sale.id %}</td>#}
            <td>{% getChargebackBySale sale.id startDate endDate %}</td>
{#---            <td>{% getDishonestBySale sale.id %}</td>#}
        </tr>
        <tr style="padding:0;"><td colspan="11" style="padding:0">
            <div id="sale_detail_row_{{ company }}_{{ department }}_{{ group }}_{{ sale.id }}"
                 class="sale_detail_row" style="margin-left:50px;margin-top:5px;display:none;"></div>
        </td></tr>
        {% empty %}
            <tr>
                <td colspan="8">无开发信息</td>
            </tr>
        {% endfor %}
    </tbody>
</table>