    <hr/>
    <table class="table table-bordered">
    <thead class="bg-info">
        <th>序号</th>
        <th>标记时间</th>
{#--        <th>开发专员</th>#}
{#--        <th>来源工具</th>#}
        <th>客户姓名</th>
        <th>电话</th>
        <th>沟通方式</th>
        <th>开发ID</th>
        <th>开发专员</th>
        <th>管理ID</th>
        <th>客户管理专员</th>
{#--        <th>昵称</th>#}
{#--        <th>初始资金</th>#}
{#--        <th>GEM</th>#}
        <th>原因</th>
        {% if request.user.userprofile.title.role_name in 'teachermanager teacherboss admin ops' %}
            <th>操作</th>
        {% endif %}
    </thead>
    <tbody>
        {% for customerObj in customerPage %}
        <tr id="customerRow_{{ customerObj.id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ customerObj.modify }}</td>
{#--            <td>#}
{#--                <span class="tooltips" data-toggle="tooltip" title="公司:{{ customerObj.sales.company }}-部门:{{ customerObj.sales.department }}">#}
{#--                    {{ customerObj.sales.saleId }} {{ customerObj.sales.binduser.userprofile.nick }}#}
{#--                </span>#}
{#--            </td>#}
{#--            <script type="text/javascript">#}
{#--                $('.tooltips').tooltip();#}
{#--            </script>#}
{#--            <td>#}
{#--                {% if customerObj.saleswx %} 微信: {{ customerObj.saleswx.wxid  }}{% endif %}#}
{#--                {% if customerObj.salesqq %} QQ: {{ customerObj.salesqq.qqid  }}{% endif %}#}
{#--           </td>#}
            <td>{{ customerObj.name }}</td>
            <td>{{ customerObj.phone }}</td>
            <td>
                {% if customerObj.sales %} 微信: {{ customerObj.wxid  }}{% endif %}
                {% if customerObj.sales and customerObj.qqid %} QQ: {{ customerObj.qqid  }}{% endif %}
            </td>
            <td>
                <span class="tooltips" data-toggle="tooltip" title="公司:{{ customerObj.sales.company }}-部门:{{ customerObj.sales.department }}">
                    {{ customerObj.sales.saleId }}
                </span>
            </td>
            <td>{{ customerObj.realuser.userprofile.nick }}</td>
            <td>
                <span class="tooltips" data-toggle="tooltip" title="公司:{{ customerObj.teacher.company }}-部门:{{ customerObj.teacher.department }}">
                    {{ customerObj.teacher.teacherId }}
                </span>
            </td>
            <td>{{ customerObj.realteacher.userprofile.nick }}</td>
{#--            <td>#}
{#--                {% if customerObj.saleswx %} {{ customerObj.wxname  }}{% endif %}#}
{#--                {% if customerObj.salesqq %} {{ customerObj.qqname  }}{% endif %}#}
{#--            </td>#}
{#--            <td>{{ customerObj.startup }}</td>#}
{#--            <td>#}
{#--                {% if customerObj.gem %}#}
{#--                    <span class="glyphicon glyphicon-ok"></span>#}
{#--                {% else %}#}
{#--                    <span class="glyphicon glyphicon-remove"></span>#}
{#--                {% endif %}#}
{#--            </td>#}
            <td>{{ customerObj.message }}</td>
            {% if request.user.userprofile.title.role_name == 'teachermanager' or request.user.userprofile.title.role_name == 'teacherboss' or request.user.userprofile.title.role_name in 'admin ops' %}
                <td>
                    <button type="button" class="btn btn-sm btn-primary" onclick="resumeDishonestCustomer(this)"
                    data-id="{{ customerObj.id }}">恢复</button>
                </td>
            {% endif %}
        </tr>
        {% empty %}
            <tr>
                <td colspan="10">无不诚信客户信息</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<nav class="navbar-right">
  <ul class="pagination">
    <li>
        {% if customerPage.has_previous %}
            <span aria-hidden="true" onclick="loadDishonestCustomerDiv('page={{ customerPage.previous_page_number }}&{{ requestArgs }}')">&laquo;</span>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ customerPage.number }}/{{ customerPage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if customerPage.has_next %}
            <span aria-hidden="true" onclick="loadDishonestCustomerDiv('page={{ customerPage.next_page_number }}&{{ requestArgs }}')">&raquo;</span>
        {% endif %}
    </li>
  </ul>
</nav>
{#<nav class="navbar-right">#}
{#  <ul class="pagination">#}
{#    <li>#}
{#        {% if customerPage.has_previous %}#}
{#            <span aria-hidden="true">#}
{#                <a href="?page={{ customerPage.previous_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}&{{ requestArgs }}">&laquo;</a>#}
{#            </span>#}
{#        {% endif %}#}
{#    </li>#}
{#    <li><span class="current">#}
{#           第{{ customerPage.number }}/{{ customerPage.paginator.num_pages }}页#}
{#        </span></li>#}
{#    <li>#}
{#        {% if customerPage.has_next %}#}
{#            <span aria-hidden="true">#}
{#                <a href="?page={{ customerPage.next_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}&{{ requestArgs }}">&raquo;</a>#}
{#            </span>#}
{#        {% endif %}#}
{#    </li>#}
{#  </ul>#}
{#</nav>#}
<script type="text/javascript">
    function resumeDishonestCustomer(obj){
        id = $(obj).data('id');
        $.post(
            "{% url 'customer:resumeDishonestCustomer' %}",
            {id:id},
            function(result) {
                $('#customerRow_'+id).remove();
                showMsgModal(result.msg, result.msgLevel);
            },
            'json'
        );
    }
</script>