 {% extends 'base_noheader.html' %}

{% block title %}开发管理{% endblock %}
{% block content %}

    <div class="modal fade" id="addSaleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">开发管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addSaleForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" class="" id="id" name="id"/>
                            <input type="hidden" value="" class="" id="page" name="page"/>
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="saleid">开发ID</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="saleid" name="saleid"
                                {% if request.user.userprofile.title.role_name != 'admin' %}
                                    readonly
                                {% endif %}
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="bindusername" >绑定用户</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="bindusername" name="bindusername"  style="font-size: small" placeholder="请输用户名,格式：guanliyuan" />
{#                                <select type="select" class="form-control" id="binduser" name="binduser">#}
{#                                    <option>无</option>#}
{#                                    {% if bindusers %}#}
{#                                        {% for binduser in bindusers %}#}
{#                                            <option value="{{ binduser.id }}"> {{ binduser.username }}-{{ binduser.userprofile.nick }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </select>#}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="bindteacherId" >对接老师</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="bindteacherId" name="bindteacherId"  style="font-size: small" placeholder="请输老师ID,格式：Z010101"/>
{#                                <select type="select" class="form-control" id="bindteacher" name="bindteacher">#}
{#                                    <option>无</option>#}
{#                                    {% if bindteachers %}#}
{#                                        {% for bindteacher in bindteachers %}#}
{#                                                <option value="{{ bindteacher.id }}"> {{ bindteacher.teacherId }} {{ bindteacher.binduser.userprofile.nick }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </select>#}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addSaleBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addSaleGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">开发组管理</h4>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addSaleGroupForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-offset-2 col-lg-2 col-md-2 control-label" for="saleCompany">开发公司</label>
                            <div class="col-lg-5 col-md-5">
                                <input type="text" class="form-control" id="saleCompany" name="saleCompany"
                                       {% if request.user.userprofile.title.role_name == 'saleboss' %}
                                           value="{{ request.user.userprofile.company }}" readonly
                                       {% endif %}
                                data-bv-notempty="true"
                                data-bv-notempty-message="不允许为空"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="saleGroup" >开发组</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="saleGroup" name="saleGroup"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="saleDepartment" >开发部门</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="saleDepartment" name="saleDepartment"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label" for="saleCount" >开发数量</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="saleCount" name="saleCount" value="5"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="addSaleGroupBtn" type="submit" class="btn btn-sm btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        formValidator();
        loadSaleDiv();
        $('#addSaleModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
        $('#addSaleGroupModal').on('hidden.bs.modal', function() {
            resetFormValidator();
        });
    });
    function resetFormValidator(){
        var saleFormSelector = $('#addSaleForm');
        saleFormSelector.find('input').not('#page').not('#saleCompany').val("");
        saleFormSelector.data('bootstrapValidator').destroy();
        var saleGroupFormSelector = $('#addSaleGroupForm');
        saleGroupFormSelector.find('input').not('#page').not('#saleCompany').val("");
        $('#saleCount').val(5);
        saleGroupFormSelector.data('bootstrapValidator').destroy();

        $('#searchSaleForm').data('bootstrapValidator').destroy();
        formValidator();
    }
    function loadSaleDiv(data){
        $('#saleDiv').load("{% url 'sale:querySale' %}", data);
    }
    function formValidator(){
        $('#addSaleForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                saleid: {
                    validators: {
                        notEmpty: {
                            message: '请输入开发ID'
                        }
                    }
                },
                company: {
                    validators: {
                        notEmpty: {
                            message: '请输入公司'
                        }
                    }
                },
                department: {
                    validators: {
                        notEmpty: {
                            message: '请输入部门',
                        },
                    }
                },
            },
            submitHandler: function (validator, form, submitButton) {
                $('#addSaleModal').modal('hide');
                $.post(
                    "{% url 'sale:addSale' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        data = 'page='+$('#page').val();
                        searchData = $('#searchSaleForm').serialize();
                        var arr = new Array(2);
                        arr[0] = data;
                        arr[1] = searchData;
                        data = arr.join("&");
                        loadSaleDiv(data);
                    },
                    'json'
                );
            }
        });
        $('#addSaleGroupForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                saleCompany: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                saleDepartment: {
                    validators: {
                        notEmpty: {
                            message: '必填项'
                        }
                    }
                },
                saleCount: {
                    validators: {
                        notEmpty: {
                            message: '必填项',
                        },
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $('#addSaleGroupModal').modal('hide');
                $.post(
                    "{% url 'sale:addSaleGroup' %}",
                    form.serialize(),
                    function(result) {
                        showMsgModal(result.msg, result.msgLevel);
                        loadSaleDiv();
                    },
                    'json'
                );
            }
        });
        $('#searchSaleForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadSaleDiv(form.serialize());
                resetFormValidator()
            }
        });
    }
    function editSale(obj){
        $('#id').val($(obj).data("id"));
        $('#page').val($(obj).data("page"));
        $('#saleid').val($(obj).data("saleid"));
        $('#company').val($(obj).data("company"));
        $('#department').val($(obj).data("department"));
        $('#bindusername').val($(obj).data("bindusername"));
        $('#bindteacherId').val($(obj).data("bindteacherid"));
        $('#addSaleModal').modal("show");
    }
    function delSale(obj){
        if(confirm("删除确认")){
            var id = $(obj).data("id");
            $.post(
                "{% url 'sale:delSale' %}",
                {id:id},
                function(result) {
                    showMsgModal(result.msg, result.msgLevel);
                    loadSaleDiv();
                },
                'json'
            );
        }
    }
    </script>
    <br/>
    <br/>
    <form id="searchSaleForm" method="POST" class="form-horizontal ">
        <div class="form-group">
            <label class="col-md-1 control-label">开发ID</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ saleid }}" name="saleid"/>
            </div>
            <label class="col-md-1 control-label">用户名</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ binduser }}" name="binduser"/>
            </div>
{#            <label class="col-md-1 control-label">公司</label>#}
{#            <div class="col-md-2 form-inline">#}
{#                 <input type="text" class="form-control" value="{{ company }}" name="company"/>#}
{#            </div>#}
            <label class="col-md-1 control-label">部门</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ department }}" name="department"/>
            </div>
            <label class="col-md-1 control-label">对接老师</label>
            <div class="col-md-2 form-inline">
                 <input type="text" class="form-control" value="{{ bindteacher }}" name="bindteacher"/>
            </div>
            <label class="col-md-1 control-label"></label>


        </div>
        <div class="form-group">

{#            <label class="col-md-1 control-label">对接财务</label>#}
{#            <div class="col-md-2 form-inline">#}
{#                 <input type="text" class="form-control" value="{{ bindbursar }}" name="bindbursar"/>#}
{#            </div>#}

            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
                    <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
            </div>
            <div class="col-md-2">
                {% if request.user.userprofile.title.role_name in 'admin ops' %}
                    <lable class="btn btn-sm btn-success" data-toggle="modal" data-target="#addSaleGroupModal">新增开发组</lable>
                {% endif %}
            </div>
        </div>
    </form>
    <div id="saleDiv"></div>
{% endblock %}