{% extends 'base_full_noheader.html' %}
{% load sale_tags %}
{% block title %}公司有效客户增长趋势{% endblock %}
{% block content %}
    <br/>
    <h1>
        <div class="alert alert-success" style="text-align:center">
            公司有效客户增长趋势图
        </div>
    </h1>
    <hr/>
<form id="searchAnalyzeForm" method="POST" class="form-horizontal ">
    <div class="form-group">
        <label class=" col-md-offset-2 col-md-1 control-label">时间范围</label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" value="{{ startDate }}" name="startDate"
             title="起始时间"/>
        </div>
        <label class="col-md-1 control-label"></label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" value="{{ endDate }}" name="endDate"
             title="结束时间"/>
        </div>
        <label class="col-md-1 control-label"></label>
        <div class="col-md-2">
                <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
        </div>
    </div>
</form>
    <hr/>

    <div id="main" style="width: 850px;height:400px;margin:0 auto;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '有效客户汇总'
        },
        tooltip: {
            trigger: 'item',

        },
        legend: {
            data:[{% for company in companys %} '{{ company.company }}',{% endfor %}],
            align: 'left',
            left: 200,
        },
        grid: {
            left: '3%',
            right: '10%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                restore: {},
                saveAsImage: {},
                dataView: {},
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [{% for day in days %} '{{ day }}',{% endfor %}]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {% for company in companys %}
            {
                name:'{{ company.company }}',
                type:'bar',
                data: [{% for day in days %} '{% getEffectCustomerByCompanyAndDay company.company day %}',{% endfor %}],
            },
            {% endfor %}
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{% endblock %}