{% extends 'base_full_noheader.html' %}

{% block title %}部门密钥管理{% endblock %}
{% block content %}
<form id="searchCustomerForm" method="POST" class="form-horizontal" action="{% url 'sale:addSaleManagerPassword' %}">
    {% if request.user.userprofile.title.role_name in "admin ops saleboss salemanager" %}
        <div class="form-group">
            <label class="col-md-1 col-md-offset-2 control-label">公司</label>
            <div class="col-md-1">
                 <input type="text" class="form-control" value="{{ request.user.userprofile.company }}" name="company"
                        {% if request.user.userprofile.title.role_name in "saleboss salemanager" %} readonly {% endif %}
                 />
            </div>
            <label class="col-md-1 control-label">部门</label>
            <div class="col-md-1">
                 <input type="text" class="form-control" value="{{ request.user.userprofile.department }}" name="department"
                        {% if request.user.userprofile.title.role_name in "salemanager" %} readonly {% endif %}
                 />
            </div>
            <label class="col-md-1 control-label">密码</label>
            <div class="col-md-1">
                 <input type="text" class="form-control" value="{{ password }}" name="password" required/>
            </div>
            <div class="col-md-1">
                    <button type="submit" class="btn btn-sm btn-primary" >新增</button>
            </div>
        </div>
    {% endif %}
</form>
<div class="col-md-offset-2 col-md-8">
<table class="table table-bordered col-md-12 table-hover">
    <thead class="bg-info">
        <tr>
{#            <td>ID</td>#}
            <td>公司</td>
            <td>部门</td>
            <td>密码</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
    {% for password in passwordList %}
        <tr>
{#            <td>{{ password.id }}</td>#}
            <td>{{ password.company }}</td>
            <td>{{ password.department }}</td>
            <td>{{ password.password }}</td>
            <td>
{#                <button type="button" class="btn btn-sm btn-primary" onclick="editPassword(this)"#}
{#                    data-id="{{ password.id }}"#}
{#                >修改</button>#}

                <button type="button" class="btn btn-sm btn-danger" onclick="delPassword(this)"
                    data-id="{{ password.id }}">删除</button>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="4">无部门密钥</td></tr>
    {% endfor %}

    </tbody>
</table>
</div>
<script type="text/javascript">
    function delPassword(obj){
         window.open("{% url 'sale:delSaleManagerPassword'%}?id="+$(obj).data("id"), "_self");
    }
</script>
{% endblock %}