{% extends 'base_full_noheader.html' %}
{% block title %}收款汇总明细{% endblock %}
{% block content %}
<br/>
<h1>
    <div class="alert alert-success" style="text-align:center">
        收款汇总明细表
    </div>
</h1>
    <form id="searchPayReportForm" method="POST" class="form-horizontal " action="#">
    <div class="form-group">
        {% if user.userprofile.title.role_name in 'admin ops teacher teacherboss teachermanager bursar bursarmanager saleboss' %}
            <label class="col-md-1 control-label" for="company">公司</label>
            <div class="col-md-1 ">
               <input type="text" class="form-control" id="company" name="company" style="width: 150px" value="{{ company }}" placeholder="格式：A"/>
            </div>
            <label class="col-md-1 control-label" for="bursarID" >财务专员</label>
            <div class="col-md-2 " style="width: 150px">
                 <input type="text" class="form-control" id="bursarID" name="bursarID" value="{{ bursarID }}" style="width: 150px" placeholder="格式：A01101"/>
{#                <select type="select" class="form-control" id="bursarID" name="bursarID">#}
{#                  <option></option>#}
{#                  {% for bursarObj in bursars %}#}
{#                      <option value={{ bursarObj.bursarId}}  {% if bursarObj.bursarId == bursarID %} selected {% endif %}>{{ bursarObj.bursarId }} {{ bursarObj.binduser.userprofile.nick }}</option>#}
{#                  {% endfor %}#}
{#              </select>#}
            </div>
            <label class="col-md-1 control-label" for="paytype">支付方式</label>
            <div class="col-md-1 ">
{#              <input id="paytype" name="paytype" value="{{ paytype }}"/>#}
               <select type="text" class="form-control" id="paytype" name="paytype">
                   <option value="">全部</option>
                   <option value="支付宝">支付宝</option>
                   <option value="微信">微信</option>
                   <option value="中国银行">中国银行</option>
                   <option value="农业银行">农业银行</option>
                   <option value="交通银行">交通银行</option>
                   <option value="建设银行">建设银行</option>
                   <option value="工商银行">工商银行</option>
                   <option value="招商银行">招商银行</option>
               </select>
            </div>
            <label class="col-md-1 control-label" for="phone">客户电话</label>
            <div class="col-md-1 ">
               <input type="text" class="form-control" id="phone" name="phone" value="{{ phone }}" />
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label class=" col-md-1 control-label" >时间范围</label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" style="width: 150px" value="{{ startDate }}" name="startDate" id="startDate"
             title="起始时间"/>
        </div>
{#        <label class="col-md-1 control-label"></label>#}
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" style="width: 150px" value="{{ endDate }}" name="endDate" id="endDate"
             title="结束时间"/>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-2">
                <button type="submit" class="btn btn-sm btn-primary">搜索</button>
        </div>
    </div>
</form>
<hr/>
    <div id="payReportDiv"></div>

<script type="text/javascript">
    $(function () {
        formValidator();
        loadPayReportDiv();
    });
    function resetFormValidator(){
        $('#searchPayReprotForm').data('bootstrapValidator').destroy();
        formValidator();
    }

    function loadPayReportDiv(data){
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var company = $('#company').val();
        var bursarID = $('#bursarID').val();
        var phone = $('#phone').val();
        var paytype = $('#paytype').val();

        if(data){
            data = data +'&startDate='+startDate+'&endDate='+endDate+'&company='+company+'&bursarID='+bursarID+
                '&phone='+phone+'&paytype='+paytype;
        }else{
            data = 'startDate='+startDate+'&endDate='+endDate+'&company='+company+'&bursarID='+bursarID+
                '&phone='+phone +'&paytype='+paytype;
        }
        $('#payReportDiv').load("{% url 'bursar:queryPayReport' %}", data);
    }

    function formValidator(){
        $('#searchPayReportForm').bootstrapValidator({
            excluded: [':disabled'],
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            },
            submitHandler: function (validator, form, submitButton) {
                loadPayReportDiv();
                resetFormValidator();
            }
        });
    }
{#    $(function () {#}
{#        loadPayReportDiv();#}
{#        payTypeSelect();#}
{#    });#}
{#    function payTypeSelect() {#}
{#        var frag = document.createDocumentFragment();#}
{#        var options = $("#paytype");#}
{#        var str1=["全部","支付宝","微信","中国银行","农业银行","交通银行","建设银行", "工商银行","招商银行"];#}
{#        var str2 = ["","支付宝","微信","中国银行","农业银行","交通银行","建设银行", "工商银行","招商银行"];#}
{##}
{#        for (var i = 0; i <= 7; i++) {#}
{##}
{#            var option = new Option(str1[i], str2[i]);#}
{#            frag.appendChild(option);#}
{#        }#}
{#        options.append(frag);#}
{#    }#}
</script>
{#<table class="table table-bordered">#}
{#    <thead class="bg-info">#}
{#        <th width="2%">序号</th>#}
{#        <th width="5%">汇款时间</th>#}
{#        <th width="5%">客户来源公司</th>#}
{#        <th width="5%">客户姓名</th>#}
{#        <th width="5%">客户管理专员</th>#}
{#        <th width="5%">电话</th>#}
{#        <th width="5%">产品代码/名称</th>#}
{#        <th width="5%">金额</th>#}
{#        <th width="5%">支付方式</th>#}
{#        {% if request.user.userprofile.title.role_name != 'salemanager' %}#}
{#            <th width="5%">客户管理ID</th>#}
{#            <th width="5%">客户管理专员</th>#}
{#        {% endif %}#}
{#        {% if request.user.userprofile.title.role_name == 'teacher' %}#}
{#        <th width="5%">收款专员</th>#}
{#        {% else %}#}
{#         <th width="5%">开发ID</th>#}
{#         <th width="5%">开发专员</th>#}
{#        {% endif %}#}
{#        {% if request.user.userprofile.title.role_name == 'admin' %}#}
{#            <td width="5%">操作</td>#}
{#        {% endif %}#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr style="color:red">#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td>合计</td>#}
{#            <td></td>#}
{#            <td>{{ payCashTotal }}#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            {% if request.user.userprofile.title.role_name == 'admin' %}#}
{#              <td></td>#}
{#            {% endif %}#}
{#        </tr>#}
{#    {% if tradePage %}#}
{#    {% for tradeObj in tradePage %}#}
{#     <tr class="trade_row" id="trade_row_{{ tradeObj.id }}">#}
{#          <td align="center">{{ forloop.counter }}</td>#}
{#          <td align="center">{{ tradeObj.paytime }}</td>#}
{#          <td align="center">{{ tradeObj.customer.name }}</td>#}
{#          <td align="center">{{ tradeObj.customer.phone }} </td>#}
{#          <td align="center">{{ tradeObj.stock.stockid }}/{{ tradeObj.stock.stockname }}</td>#}
{#          <td align="center">{{ tradeObj.paycash }} </td>#}
{#          <td align="center">{{ tradeObj.paytype }} </td>#}
{#          {% if request.user.userprofile.title.role_name != 'salemanager' %}#}
{#             <td align="center">{{ tradeObj.customer.teacher.teacherId }} </td>#}
{#             <td align="center">{{ tradeObj.realteacheruser.userprofile.nick }}</td>#}
{#          {% endif %}#}
{#          {% if request.user.userprofile.title.role_name == 'teacher' %}#}
{#                <td>{{ tradeObj.customer.bursar.bursarId }} {{ tradeObj.customer.bursar.binduser.userprofile.nick }}</td>#}
{#          {% else %}#}
{#                <td align="center">{{ tradeObj.customer.sales.saleId }} </td>#}
{#                <td align="center">{{ tradeObj.customer.realuser.userprofile.nick }}</td>#}
{#          {% endif %}#}
{#           <td><button type="button" class="btn btn-sm btn-primary" onclick="backTradeAdmin(this)"#}
{#                        data-id="{{ tradeObj.id }}"#}
{#                    >退回</button></td>#}
{#     </tr>#}
{#       {% empty %}#}
{#        <tr><td colspan="9">无收款信息</td></tr>#}
{#    {% endfor %}#}
{#    {% endif %}#}
{##}
   <script type="text/javascript">
       function backTradeAdmin(obj){
           result=confirm('撤销交易操作，请慎重');
           if(result){
             $.ajax({
                 url: "{% url 'trade:backTradeAdmin' %}",
                 type: "POST",
                 data: {"backtradeid": $(obj).data("id")},
                 success: function(result){
{#                     showMsgModal(result.msg,result.msgLevel);#}
{#                     if (result.msgLevel == 'info'){#}
{#                        setTimeout("window.location.reload()",1500);#}
{#                     }#}
                    loadPayReportDiv();
               }
             })
           }
    }

   </script>

{% endblock %}